# CLion and JetBrains IDEs
.idea/
*.iml

# Ignore compiled binary
Project01

# Ignore CMake-generated installation script
cmake_install.cmake


# Ignore build directory
build/
CMakeFiles/
CMakeCache.txt
cmake_install.cmake
Makefile

# Compiled binaries and object files
*.o
*.obj
*.out
*.exe
*.bin
*.dll
*.so
*.dylib
a.out
a.exe

# Debug and Release directories
dist/
out/





cmake-build-debug/
.DS_Store

